/* font common */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/* font p */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');


@media screen and (min-width: 375px) {

    body,
    * {
        
        box-sizing: border-box;
        margin: 0 1%;
        padding: 0;
        font-family: 'Playfair Display', serif;
        scroll-behavior: auto;
        overflow-x: hidden;
        overflow-y: s;

    }
    body {
        background-color: beige;
    }
  
    #page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
/* ***********-HEADER LOGO -375px*********** */
    .logo__title {
        font-size: 1.5em;
        color: rgb(17, 10, 119);
        font-family: 'Libre Baskerville', serif;
    }

    .logo__title,
    h1,
    .nav__bar {
        padding-bottom: 0.7em;
    }

    .logo__title,
    .questions__title {
        letter-spacing: 2px;
    }

    #logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
    }
/* *******DON*375px***************** */
    .don {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    .don__item {
        font-size: 1.5em;
        padding: 6px;
        margin: 10px 3px;
        text-decoration: none;
        color: blue;
        background-color: #ece073;
        transition: 0.5s;
        border-radius: 10px;

    }


    .don__item:hover {
        background-color: gray;
        color: rgb(142, 212, 180);
        border-radius: 10px;
    }

    h1 {
        color: gold;
        text-shadow: 1px 3p 5p 0.5;
        
        transition: 0.7s;
        text-shadow: 1px -1px 2px rgb(0 68 255);
    }

    h1:hover {

        color: rgb(133, 117, 26);
        transition: 0.5s;
        text-shadow: none;
    }
    .event__title {
        background-color: #bb3e3e;
        color: wheat;
        text-transform: uppercase;
        font-size: 1.5em;
        transition: 0.7s;
        margin: 4% 1%;
    }
    .event__title:hover {
        color: wheat;
        letter-spacing: 2.3px;
        transition: 0.5s;
    }
   
/* ************************************* */
    p {
        font-family: 'Cairo', sans-serif;
        font-size: 1.3em;
    }

    h1,
    ul li a,
    .section__title,
    .info__title,
    .questions__title {
        text-transform: uppercase;   
    }
    
    .page__header {
        padding-bottom: 2em;
    }

   
    /* ----------------NAV BAR-@MEDIA min-width: 375px------------------------------- */
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    ul li {
        padding: 3%;
    }

    #nav__main li a {

        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
        font-weight: 700;

        color: blue;
        background-color: #ece073;
        padding: 5px 20px;
        border-radius: 10px;
    }

    #nav__main a {
        display: block;
        font-size: 1.4em;
    }


    #nav__main li a:hover
    
     {
        background-color: rgb(42, 42, 158);
        color: rgb(243, 238, 233);
    }
/* ***************** */
    
/* --- ******CONCOURS CUISINE-**375px*********-- */
    .section__title {
        background-color: rgb(106, 160, 160);
        border-radius: 10px;
        color: aliceblue;
        padding: 1%;
        margin-bottom: 2%;

    }

    .info__title {
       font-size: 1.4em;
       color: rgb(102, 19, 179);
    padding: 2% 1%;
    letter-spacing: 2px;
    font-weight: bold;
       margin-bottom: 1%;
       font-family: 'Libre Baskerville', serif;
   } 
 
   .info__text {
       margin: 1% 30%;
   }
   .info__img {
    height: 150px;
    width: 150px;
} 
/* **************CONCOURS ANNONCE *375px*************** */
#events__img__gluten_free {
    width: 120px;
    height: 120px;
}
    .link {
        color: aliceblue;
        background-color: blue;
        cursor: pointer;
        margin: 2% 1%;
        padding: 5px 8px;
        border-radius: 10px;
        display: inline-block;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 1.4em;
        font-weight: 700;
        text-align: center;
        border: 1px solid rgb(10, 80, 80);
    }
    .link:hover {
      color: rgb(18, 71, 117);
      background-color: rgb(196, 196, 226);
      transition: 0.4s;
    }
    .btn {
      
        cursor: pointer;
        margin: 2% 0 0 0;
        padding: auto;
        border-radius: 10px;
    }      
    .btn_link_home {
        background-color: rgb(20, 185, 42);
        border: 2px solid green;
       
    }

    #btn__up {

      position: fixed;
      bottom: 10px;
      opacity: 0.5;
      padding: 9px 4px 0 4px;
      right: 3%;
      background-color: rgb(148, 196, 53);
    }

    #btn__up a {
      
      font-size: 2em;

    }

    #btn__up:hover {
      background-color: rgb(175, 240, 47);
      opacity: 1;
      transition: 0.3s;
      padding: 12px 6px 2px 6px;
      transition: ease-in;
      
    }     

    .event__info {
        background-color: rgb(116, 128, 16);
        color: wheat;
        padding: 8px;
        font-size: 1.4em;
    }
    
    
    
    #recette__2,
    #recette__3 {
        display: none;
        visibility: hidden;
    }
    .events__annonce__title,
    .place__title  {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Libre Baskerville', serif;
        margin: 3% 9%;
        
        color: rgb(128, 9, 122);
        padding: 10px;
    }
    .place__title   {
        font-size: 1.5em;
    }
    .events__annonce__title {
        font-size: 1.2em;
    }
  
    
    
    /****** FOOTER**-@MEDIA min-width: 375px************** */
    #page__footer {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;

    }

    .adresse {
        font-size: 1.6em;
        color: rgb(23, 17, 87);
        margin: 2% 0;
    }

    #page__footer p {
        padding: 0.3em 1em;
        font-size: 1.3em;
        color: rgb(17, 10, 119);
    }

    .icons {
        padding-top: 4%;
        display: flex;
        padding-left: 5%;
        justify-content: space-between;

    }

    .fa {
        padding: 10px;
        font-size: 30px;
        width: 70px;

        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #c72d2d;
        color: white;
    }

    .fa-youtube {
        background: #bb0000;
        color: white;
    }
    .video {
        height: 426px;
        width: 636px;
    }

}
/* ******************VERSION TABLETTE*@media min-width: 758px ************* */
/* ******************version tablette**@media min-width: 758px************* */
/* ******************version tablette**@media min-width: 758px************* */
@media screen and (min-width: 758px) {

    body,
    * {
        margin: 2px;
    }
   
    body {
        background-color: rgb(238, 238, 173);
        
    }


    .logo__content {
        display: flex;
        align-items: center;
    }

    .logo__title {
        font-size: 1.4em;
        font-weight: 600;
    }
   

    h1 {
       
        text-shadow: 4px 1px 1px rgb(0 68 255);
        font-size: 2.5em;
        background-color: #bb3e3e;
    }
    

    h1:hover {

        color: rgb(245, 239, 207);
       letter-spacing:  3px;
    }

    p {
        font-size: 2em;
    }

    


    /* ----------------Nav bar-@media min-width: 758px------------------------------- */
    ul {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    ul li {
        padding: 1%;
    }

    #nav__main li a {
       color: wheat;
       font-size: 1.1em;
        border-radius: 10px;
        background: none;
        background-color: rgb(137, 150, 20);
    }


    #nav__main li #home {
        display: block;
        visibility: visible;
        margin-top: 5px;
        padding: 15px 10px;
    }


    #nav__main li a:hover {
        background-color: rgb(89, 224, 48); 
        color: rgb(65, 61, 57);
       
    }

    #nav__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
   
  
    /* *******************INFO ZONE **@media min-width: 758px*********** */
    .section__title {
        padding: 5px 10px;
        font-size: 2em;
    }

    .aside__block
     {
        margin: 10px;

    }
    .event__info {
        font-size: 1.2em;
    }
    
  
    .info__text {
       
     font-size: 1.2em;
    }
   

}

/* *******************@MEDIA 1042PX************************************ */

/* *********************@MEDIA 1042PX********************************** */

/* *********************@MEDIA 1042PX********************************* */

@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(246, 248, 144);
        /* width: 90%; */
        display: flex;
        justify-content: center;
        
    }
   #page {
       max-width: 1024px;
   }
   .event__title {
    /* max-width: 1170px; */
    font-size: 2em;
   }
    .don__item {
       
        color: rgb(7, 7, 228);
        background-color: #f3ba8b;
    }
    .don__item:nth-child(3) {
        padding: 5px 35px 5px 40px;
    }    
    .don__item:nth-child(2) {
        padding: 5px 14px;
    }    


    h1 {
       border: none;
        text-shadow: rgb(0 68 255) -5px 2px 4px;
        background-color: rgb(145, 5, 70);
        padding: 9px;
    }


    p {
        font-family: 'Merriweather', serif;
        font-size: 2em;
    }

    .logo__title {
        font-weight: 700;
        padding-left: 20px;
       
    }


    /* ----------------Nav bar--@MEDIA 1042PX----------------------------- */
    #nav__main {
        display: flex;
        width: 100%;
        background-color: rgb(157, 168, 58);
      }
    
    #nav__main li a
     {
        background: none;
        margin: 0;
        font-size: 1.3em;
        color: rgb(245, 245, 245);
    }

    #nav__main li a:hover {
        background-color: rgb(177, 22, 68); 
        color: rgb(243, 238, 233);
        letter-spacing: 0.1em;
       
    }
    /* *****************CARDS****************** */
    .cuisine__photos__img {
        padding: 0 10px;
        height: 300px;
        width: 400px;
    }
    .cuisine__photos {
        display: flex;
    }
  
    #recette__2,
    #recette__3 {
        display: block;
        visibility: visible;
    }
    .event__info {
        font-size: 1em;
        color: wheat;
        padding: 8px;
        
    }
    .info__img {
        margin: 20px 10px;
    }
    .aside__events {
        width: 100%;
        display: flex;
      
    }
    .aside__article__info {
        padding: 0;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .events__3__article {
        display: flex;
        justify-content: space-between;
        margin: 0 3em;
        
    }
  
    .info__title {
        font-size: 1.3em;
        height: 160px;
       
    }
   #events__img__gluten_free {
       margin-bottom: 30px;
       width: 140px;
       height: 140px;
   }
    .info__text {
        margin: 0;
        padding-bottom: 2em;
    }
    .events__annonce__title {
        font-size: 1.5em;
        color: rgb(128, 9, 122);
    }
    .place__title {
        padding: 10px;
        font-size: 2em;
    } 
 
    
    .events__annonce__title {
        font-size: 2em;
        padding-top: 30px;
    }
    .btn_link_home {
        margin: 2em;
    }
    .hr__events__last {
        height: 10px;
        width: 100%;
        color: gray;
    }
    .link {
        font-size: 1.2em;
    }
    
   
}

/* ********************@media (min-width: 1574px)****************** */
/* ********************@media (min-width: 1574px)******************* */
/* ********************@media (min-width: 1574px)********************* */

@media screen and (min-width: 1574px) {
    body {
        background-color: rgb(206, 236, 171);
      
        
    }
 
    #page {
        max-width: 1500px;

    }
    #logo {
        margin-left: 0;
        padding-left: 0;
    }
        .logo__title {
            font-size: 1.6em;
            padding-left: 10px;
            padding-right: 20px;
        }
    
        .don__item {
            font-size: 1.1em;
            padding: 6px 10px;
          
        }
        .don__item:nth-child(3) {
            padding: 5px 35px;
        }    
    
        h1 { 
            font-size: 2.7em;
        }
    
        h1:hover {
            letter-spacing: 5px;
            color: rgb(250, 240, 106);  
            text-shadow: rgb(0 68 255) -5px 2px 6px;
        }
    
    
        /* ----------------Nav bar--@media (min-width: 1574px------------------------------ */
    
        
        .nav__bar li {
        padding-right: 10px;
        
        }
        #nav__main li {
            
            font-size: 1em;    
        }
    
        /******************* CARD SECTIONS **@media (min-width: 1574px***********************/
      
    
        .cuisine__photos__img {
            padding-bottom: 2%;
            height: 20em;
            width: 30em;
            margin: 0 1%;
        }
      /* ***********VIDEO ZONE******* */
      .video {
          width: 700px;
          height: auto;
          margin-bottom: 5%;
      }
    
        
            /* *********************aside__events************* */
         
         
            .btn_link_home {
                margin-top: 30px;
                padding: 10px;
                text-transform: uppercase;
                margin-bottom: 1.3em;
            }
            .events__nav__bar li  {
                font-size: 1.7em;
                
            }
            
        }

