/* font common */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/* font p */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@media screen and (min-width: 375px) {

    body,
    * {
        
        box-sizing: border-box;
        margin: 0 1%;
        padding: 0;
        font-family: 'Playfair Display', serif;
        scroll-behavior: auto;
        overflow-x: hidden;

    }
    body {
        background-color: beige;
    }
    .header__img  {
        display: none;
    }
    #page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .logo__title {
        font-size: 2em;
        color: rgb(17, 10, 119);
    }

    .logo__title,
    h1,
    .nav__bar {
        padding-bottom: 0.7em;
    }

    .logo__title,
    .questions__title {
        letter-spacing: 2px;
    }

    #logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
    }

    .don {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    .don__item {
        font-size: 1.7em;
        padding: 6px;
        margin: 10px 3px;
        text-decoration: none;
        color: blue;
        background-color: #ece073;
        transition: 0.5s;
        border-radius: 10px;

    }


    .don__item:hover {
        background-color: gray;
        color: rgb(142, 212, 180);
        border-radius: 10px;
    }

    h1 {
        color: gold;
        text-shadow: 1px 3p 5p 0.5;
        transition: 0.7s;
        text-shadow: 1px -1px 2px rgb(0 68 255);
    }

    h1:hover {

        color: rgb(133, 117, 26);
        transition: 0.5s;
        text-shadow: none;
    }

    p {
        font-family: 'Cairo', sans-serif;
        font-size: 1.3em;
    }

    h1,
    ul li a,
    .section__title,
    .card__title,
    .info__title,
    .questions__title {
        text-transform: uppercase;
        
    }
    
    .page__header {
        padding-bottom: 2em;
    }

    #logo__title,
    #header__quote {
        font-weight: 600;
    }

    /* ----------------Nav bar-------------------------------- */
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    ul li {
        padding: 3%;
    }

    #nav__main li a,
    #nav__info__questions li a {

        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
        font-weight: 700;

        color: blue;
        background-color: #ece073;
        padding: 5px 20px;
        border-radius: 10px;
    }

    #nav__main a {
        display: block;
        font-size: 1.8em;
    }


    #nav__main li a:hover,
    #nav__info__questions li a:hover
     {
        background-color: rgb(42, 42, 158);
        color: rgb(243, 238, 233);
    }

    #nav__info__questions {
        display: flex;

    }

    #nav__info__questions li {
        display: flex;
        justify-content: space-between;


    }

    #nav__info__questions li a {
        letter-spacing: 1px;
        font-size: 1.5em;
    }
     

    /******************* CARD SECTIONS *************************/
    .section__title,
    .card__section,
    .aside__questions__block {
        margin-bottom: 1.5%;
        
    }

    .section__title {
        background-color: rgb(106, 160, 160);
        border-radius: 10px;
        color: aliceblue;
        padding: 1%;

    }

    .card__title {
        color: rgb(173, 16, 113);
        padding-top: 1.4em;
        padding-bottom: 2%;
        margin: 0 2.5%;

    }

    .card__text {
        font-family: 'Roboto Slab', serif;
        font-size: 1em;
        font-weight: 600;
        padding-bottom: 2%;
        margin: 2%;

    }

    .card__img {
        padding-bottom: 2%;
        height: 400px;
         width: 636px;
    }
          .link {
              color: aliceblue;
              background-color: blue;
              cursor: pointer;
              margin: 2% 0 0 0;
              padding: 5px 8px;
              border-radius: 10px;
              display: inline-block;
              letter-spacing: 4px;
              text-decoration: none;
              font-size: 1.4em;
              font-weight: 700;
              text-align: center;
              border: 1px solid rgb(10, 80, 80);
          }
          .link:hover {
            color: rgb(18, 71, 117);
            background-color: rgb(196, 196, 226);
            transition: 0.4s;
          }
                .btn {
            
                    cursor: pointer;
                    margin: 2% 0 0 0;
                    padding: auto;
                    border-radius: 10px;
            
                }
          
    
        #btn__home {
    
            position: fixed;
            bottom: 10px;
            right: -100px;
            opacity: 0.5;
            padding: 9px 4px 0 4px;
            right: 3%;
            background-color: rgb(148, 196, 53);
        }
    
        #btn__home a {
            
            font-size: 2em;
    
        }
    
        #btn__home:hover {
            background-color: rgb(175, 240, 47);
            opacity: 1;
            transition: 0.3s;
            padding: 12px 6px 2px 6px;
            transition: ease-in;
            
        }
    /* ********************VIDEO ZONE****************** */
    #video__zone {
        margin-top: 1.5em;
    }

    #video__zone-quote {
        font-weight: 600;
        font-style: italic;
        background-color: rgb(220, 238, 238);
        border-radius: 10px;
        color: rgb(22, 22, 236);
        padding: 0.5em 2em;
        width: auto;
    }

    /* ***************ASIDE******************************** */

    /* *******************INFO ZONE ************* */
    .info__questions__section {
        margin-bottom: 10%;

    }

    .aside__block,
    .aside__info__block,
    .question__block {
        padding: 2% 10%;

    }

    .info__title {
        color: rgb(102, 19, 179);
        padding: 2% 1%;
        letter-spacing: 2px;
    }

     .info__img {
        height: 150px;
        width: 150px;
    } 

    aside hr {
        padding: 2% 0;
    }

    /* ******************QUESTIONS ZONE***********/
    .aside__questions__block {
        padding-top: 9%;
    }

    .questions__title {
        color: rgb(20, 102, 102);
        padding-top: 3%;
    }

    .questions__text {
        color: darkslategray;
    }
    

#last__btn {
    margin-bottom: 2%;
}

    /************************* FOOTER********************** */
    #page__footer {
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;

    }

    .adresse {
        font-size: 1.6em;
        color: rgb(23, 17, 87);
    }

    #page__footer p {
        padding: 0.3em 1em;
        font-size: 1em;
        color: rgb(17, 10, 119);
    }

    .icons {
        padding-top: 4%;
        display: flex;
        padding-left: 5%;
        justify-content: space-between;

    }

    .fa {
        padding: 10px;
        font-size: 30px;
        width: 70px;

        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #c72d2d;
        color: white;
    }

    .fa-youtube {
        background: #bb0000;
        color: white;
    }
/****************page ENENTS*************** */
.video {
    height: 426px;
    width: 636px;
}
.event__info {
    background-color: rgb(116, 128, 16);
}
}


/* ******************VERSION TABLETTE************** */
/* ******************version tablette*************** */
/* ******************version tablette*************** */
@media screen and (min-width: 768px) {

    body,
    * {

        margin: 2px;

    }

    body {
        background-color: rgb(238, 238, 173);
        width: 96%;
    }

    #page {
        display: flex;


    }

    .logo__content {
        display: flex;
        align-items: center;
    }

    .logo__title {
        font-size: 1.4em;
    }

    .logo__title,
    h1,
    .nav__bar {
        padding-bottom: 0.7em;
    }

    .logo__title,
    .questions__title {
        letter-spacing: 2px;
    }

    .don {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    .don__item {
        font-size: 1.3em;
        padding: 6px;
        margin: 10px 3px;
        text-decoration: none;
        color: blue;
        background-color: #ece073;
        transition: 0.5s;
        border-radius: 10px;

    }


    .don__item:hover {
        background-color: gray;
        color: rgb(48, 241, 225);
        border-radius: 10px;
    }

    h1 {
        color: gold;
        transition: 0.7s;
        border: 2px solid #3B5998;
        border-radius: 4px;
        text-shadow: 4px 1px 1px rgb(0 68 255);
        font-size: 2.5em;
    }

    h1:hover {

        color: rgb(133, 117, 26);
        transition: 0.5s;
        text-shadow: none;
    }

    p {
        font-family: 'Cairo', sans-serif;
        font-size: 2em;
    }

    #logo__title {
        font-weight: 600;
    }


    /* ----------------Nav bar-------------------------------- */
    ul {
        list-style: none;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    ul li {
        padding: 1%;
    }

    #nav__main li a {
        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
        font-weight: 700;
        color: blue;
        border-radius: 10px;
        background: none;
    }

    #nav__main li {
        background-color: rgb(156, 241, 129);
        padding: 3px 0;
        border-radius: 10px;
    }

    #nav__main li:nth-child(6) {
        background-color: #ece073;
        border-radius: 10px;
    }

    #nav__main li:nth-child(7) {
        background-color: #ece073;
    }

    #nav__main li #home {
        display: none;
        visibility: hidden;

    }

    #nav__info__questions li {
        display: flex;
        justify-content: center;

    }

    #nav__info__questions li a {

        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
        color: blue;
        background-color: #ece073;
        padding: 5px 20px;
        margin: 0 30px;
        border-radius: 10px;
    }



    #nav__main a,
    #nav__info__questions li a {

        font-size: 1em;
    }

    #nav__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* **********header image********* */
    .header__img {
        display: block;
        padding-bottom: 50px;

    }



    #nav__info__questions li a {

        font-size: 1em;
    }



    /******************* CARD SECTIONS *************************/
    .section__title,
    .card__section,
    .aside__questions__block {
        margin-bottom: 10px;

    }

    .section__title {
        padding: 5px 10px;
        font-size: 2em;

    }

    .card__title {

        padding-top: 1em;
        padding-bottom: 10px;
        margin: 0 2.5%;

    }

    .card__text {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;

        padding-bottom: 10px;
        margin: 0 2%;

    }

    .card__img {
        padding-bottom: 2%;
        height: 450px;
        width: 636px;
    }

    .link {

        font-size: 1.2em;


    }

    .link:hover {
        color: rgb(9, 52, 172);
        background-color: rgb(196, 196, 226);
        transition: 0.4s;

    }




    /* ********************VIDEO ZONE****************** */

    #video__zone-quote {
        font-size: 1.4em;
    }

    /* ***************ASIDE******************************** */

    /* *******************INFO ZONE ************* */
    .info__questions__section {

        margin: 0 1%;
        

    }

    .aside__block,
    .aside__info__block,
    .question__block {
        margin: 2% 6%;



    }

    .info__text {
         margin: O 20px; 
        padding: 1% 5%;
        font-size: 1.2em;


    }

    .info__title {
        color: rgb(102, 19, 179);
        padding: 2% 1%;
        font-size: 1.7em;
        letter-spacing: 2px;
    }

    .info__img {
        height: 150px;
        width: 150px;
        float: right;
        margin-right: 6%;
    }

    aside hr {
        padding: 2% 0;
    }

    /* ******************QUESTIONS ZONE***********/
    /* .aside__questions__block {
            padding-top: 9%;
        }
    
        .questions__title {
            color: rgb(20, 102, 102);
            padding-top: 3%;
        }
    
        .questions__text {
            color: darkslategray;
        }
        
    
    #last__btn {
        margin-bottom: 2%;
    } */

    /************************* FOOTER********************** */
    /* #page__footer {
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            margin-bottom: 2%;
    
        }
    
        .adresse {
            font-size: 1.6em;
            color: rgb(23, 17, 87);
        }
    
        #page__footer p {
            padding: 0.3em 1em;
            font-size: 1em;
            color: rgb(17, 10, 119);
        }
    
        .icons {
            padding-top: 4%;
            display: flex;
            padding-left: 5%;
            justify-content: space-between;
    
        }
    
        .fa {
            padding: 10px;
            font-size: 30px;
            width: 70px;
    
            text-align: center;
            text-decoration: none;
        }
    
        .fa:hover {
            opacity: 0.7;
        }
    
        .fa-facebook {
            background: #3B5998;
            color: white;
        }
    
        .fa-twitter {
            background: #55ACEE;
            color: white;
        }
    
        .fa-instagram {
            background: #c72d2d;
            color: white;
        }
    
        .fa-youtube {
            background: #bb0000;
            color: white;
        } */
}

/****************page ENENTS*************** */
.video {
    height: 426px;
    width: 636px;
}

.event__info {
    background-color: rgb(116, 128, 16);
}

/* ********************@media (min-width: 1024px)***** */

@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(25, 155, 42);
    }

    .header__img {
        display: block;

    }
}