/* font common */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/* font p */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

@media screen and (min-width: 375px) {

    body,
    * {

        box-sizing: border-box;
        margin: 0 1%;
        padding: 0;
        font-family: 'Playfair Display', serif;
        scroll-behavior: auto;
        overflow-x: hidden;
        overflow-y: visible;

    }

    body {
        background-color: beige;
    }

    .header__img {
        display: none;
    }

    #page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .logo__title {
        font-size: 1.6em;
        color: rgb(17, 10, 119);
        font-family: 'Libre Baskerville', serif;

    }

    .logo__title,
    h1,
    .nav__bar {
        padding-bottom: 0.7em;
    }

    .logo__title,
    .questions__title {
        letter-spacing: 2px;
    }

    #logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
    }

    .don {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;

    }

    .don__item {
        font-size: 1.4em;
        padding: 6px;
        margin: 10px 3px;
        text-decoration: none;
        color: blue;
        background-color: #ece073;
        transition: 0.5s;
        border-radius: 10px;

    }

    .don__item:nth-child(3) {
        padding: 5px 10px 5px 35px;
    }

    .don__item:hover {
        background-color: gray;
        color: rgb(98, 243, 178);
        border-radius: 10px;
    }

    h1 {
        color: gold;
        text-shadow: 1px 3p 5p 0.5;
        transition: 0.7s;
        text-shadow: 1px -1px 2px rgb(0 68 255);
        background-color: blue;
        border-radius: 10px;
        padding: 5px;
    }

    h1:hover {
        background-color: rgb(235, 214, 96);
        color: rgb(223, 72, 2);
        transition: 0.8s;
        text-shadow: none;
    }

    p {
        font-family: 'Cairo', sans-serif;
        font-size: 1.3em;
    }

    h1,
    ul li a,
    .section__title,
    .card__title,
    .info__title,
    .questions__title {
        text-transform: uppercase;

    }

    .page__header {
        padding-bottom: 2em;
    }


    /* ----------------Nav bar-@MEDIA min-width: 375px------------------------------- */
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    ul li {
        padding: 3%;
    }

    #nav__main li a,
    #nav__info__questions li a {

        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
        font-weight: 700;

        color: blue;
        background-color: #ece073;
        padding: 5px 20px;
        border-radius: 10px;
    }

    #nav__main a {
        display: block;
        font-size: 1.8em;
    }


    #nav__main li a:hover,
    #nav__info__questions li a:hover {
        background-color: rgb(42, 42, 158);
        color: rgb(243, 238, 233);
    }

    #nav__info__questions {
        display: flex;

    }

    #nav__info__questions li {
        display: flex;
        justify-content: space-between;

    }

    #nav__info__questions li a {
        letter-spacing: 1px;
        font-size: 1.5em;
    }


    /******************* CARD SECTIONS *-@MEDIA min-width: 375px************************/
    .section__title,
    .card__section,
    .aside__article__questions {
        margin-bottom: 1.5%;

    }

    .section__title {
        background-color: rgb(106, 160, 160);
        border-radius: 10px;
        color: aliceblue;
        padding: 1%;

    }

    .card__title {
        color: rgb(173, 16, 113);
        padding-top: 1.4em;
        padding-bottom: 2%;
        margin: 0 2.5%;
        width: 100%;

    }

    .card__content {
        width: 100%;
        font-size: 1.5em;
    }

    .card__text {
        font-family: 'Roboto Slab', serif;
        font-weight: 500;
        padding-bottom: 2%;
        margin: 0 16%;
        color: rgb(122, 112, 112);
    }


    .card__img {
        padding-bottom: 2%;
        height: 400px;
        width: 636px;
    }

    #psy {
        height: 360px;
        width: 636px;
    }

    .link {
        color: aliceblue;
        background-color: blue;
        cursor: pointer;
        margin: 2% 0 0 0;
        padding: 5px 8px;
        border-radius: 10px;
        display: inline-block;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 1.4em;
        font-weight: 700;
        text-align: center;
        border: 1px solid rgb(10, 80, 80);
    }

    .link:hover {
        color: rgb(18, 71, 117);
        background-color: rgb(196, 196, 226);
        transition: 0.4s;
    }

    .btn {

        cursor: pointer;
        margin: 2% 0 0 0;
        padding: auto;
        border-radius: 10px;
    }


    #btn__up {

        position: fixed;
        bottom: 10px;
        right: -100px;
        opacity: 0.6;
        padding: 9px 4px 0 4px;
        right: 3%;
        background-color: rgb(148, 196, 53);
    }

    #btn__up a {

        font-size: 2em;

    }

    #btn__up:hover {
        background-color: rgb(175, 240, 47);
        opacity: 1;
        transition: 0.4s;
        padding: 12px 6px 2px 6px;


    }

    /* ********************VIDEO ZONE**-@MEDIA min-width: 375px**************** */
    #video__zone {
        margin-top: 1.5em;
    }

    #video__zone-quote {
        font-weight: 600;
        font-style: italic;
        background-color: rgb(220, 238, 238);
        border-radius: 10px;
        color: rgb(22, 22, 236);
        padding: 0.5em 2em;
        width: 100%;
    }

    /* ***************ASIDE*-@MEDIA min-width: 375px******************************* */

    /* *******************INFO ZONE **-@MEDIA min-width: 375px*********** */
    .info__questions__section {
        margin-bottom: 10%;

    }

    .aside__block,
    .aside__article__info,
    .question__block {
        padding: 2% 10%;

    }

    .info__title,
    .questions__title {
        color: rgb(102, 19, 179);
        padding: 7% 1%;
        letter-spacing: 2px;
        font-size: 1.4em;
    }

    .info__img {
        height: 150px;
        width: 150px;
    }

    aside hr {
        padding: 2% 0;
    }

    #info__img__3 {
        width: 120px;
        height: inherit;
    }

    /* ******************QUESTIONS ZONE**-@MEDIA min-width: 375px*********/
    .aside__article__questions {
        padding-top: 9%;
    }


    .questions__text {
        color: darkslategray;
    }


    #last__btn {
        margin-bottom: 2%;
    }

    #recettes__section {
        display: none;
        visibility: hidden;
    }

    /************************* FOOTER**-@MEDIA min-width: 375px******************** */
    #page__footer {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;

    }

    .adresse {
        font-size: 1.6em;
        color: rgb(23, 17, 87);
        margin: 4% 1%;
    }

    #our_mail {
        font-size: 1.3em;
    }

    #page__footer p {
        padding: 0.3em 1em;
        font-size: 1em;
        color: rgb(17, 10, 119);
    }

    .icons {
        padding-top: 4%;
        display: flex;
        padding-left: 5%;
        justify-content: space-between;

    }

    .fa {
        padding: 10px;
        font-size: 30px;
        width: 70px;

        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #c72d2d;
        color: white;
    }

    .fa-youtube {
        background: #bb0000;
        color: white;
    }

    /****************page ENENTS**-@MEDIA min-width: 375px************* */
    .video {
        height: 426px;
        width: 636px;
    }

    .event__info {
        background-color: rgb(116, 128, 16);
    }

    .events__nav__bar li {
        font-size: 1.em;

    }

    events__img__gluten_free {
        width: 115px;
        height: 115px;

    }

    .event__title {
        font-size: 1.6em;

    }

    events__annonce__title {
        font-size: 1.5em;
        color: rgb(128, 9, 122);
    }

    .event__info {
        color: wheat;
        padding: 8px;
        font-size: 1.4em;
    }

    #recette__2,
    #recette__3 {
        display: none;
        visibility: hidden;
    }

    .events__annonce__title,
    .place__title {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .events__annonce__title {
        font-size: 1.5em;
        color: rgb(128, 9, 122);
    }

    .place__title {
        padding: 10px;
        font-size: 1.4em;
    }
}


/* ******************VERSION TABLETTE*@media min-width: 758px ************* */
/* ******************version tablette**@media min-width: 758px************* */
/* ******************version tablette**@media min-width: 758px************* */
@media screen and (min-width: 758px) {

    body,
    * {
        margin: 2px;
    }

    body {
        background-color: rgb(238, 238, 173);

    }


    .logo__content {
        display: flex;
        align-items: center;
    }

    .logo__title {
        font-size: 1.4em;
    }


    .don {
        align-items: center;
    }

    .don__item:nth-child(3) {
        padding: 10px 25px;

    }


    h1 {
        border: 2px solid #3B5998;
        border-radius: 4px;
        text-shadow: 4px 1px 1px rgb(0 68 255);
        font-size: 2.5em;
        background-color: #bb3e3e;
    }

    h1:hover {

        color: rgb(245, 239, 207);
        transition: 0.5s;
        letter-spacing: 3px;
    }

    p {
        font-size: 2em;
    }

    /* ----------------Nav bar-@media min-width: 758px------------------------------- */
    ul {

        flex-wrap: wrap;
        justify-content: space-between;

    }

    ul li {
        padding: 1%;
    }

    .nav__bar {
        background-color: rgb(230, 80, 80);
    }

    #nav__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav__main li {
        padding: 3px 0;
    }

    #nav__main li a,
    #nav__info__questions li a {
        border-radius: 0 20px 0 20px;

        background-color: #c0b65d;
        color: rgb(250, 250, 255);
        font-size: 1em;

    }

    #nav__main li #home {
        display: none;
        visibility: hidden;
    }

    #nav__info__questions li {
        justify-content: center;
    }

    #nav__info__questions li a {

        margin: 0 30px;
    }

    #nav__main li a:hover,
    #nav__info__questions li a:hover {
        background-color: rgb(74, 168, 45);
        color: rgb(243, 238, 233);
        padding: 15px;
    }



    /* **********header image**@media min-width: 758px******* */
    .header__img {
        display: block;
        padding-bottom: 50px;
    }


    /******************* CARD SECTIONS **@media min-width: 758px***********************/
    .section__title,
    .card__section,
    .aside__article__questions {
        margin-bottom: 10px;

    }

    .section__title {
        padding: 5px 10px;
        font-size: 2em;

    }

    .card__title {

        padding-top: 1em;
        padding-bottom: 10px;


    }

    .card__text {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
        margin: 0;
        padding: 0 0 10px 0;
    }

    .card__img {
        height: 450px;
        width: 636px;
        margin: 3% 1%;
    }


    #psy {
        height: 400px;
        width: 636px;
    }

    .link {
        margin-top: 10px;
        font-size: 1.2em;
    }


    /* ********************VIDEO ZONE***@media min-width:758px8px*************** */

    #video__zone-quote {
        font-size: 1.4em;
    }

    /* ***************ASIDE**@media min-width: 758px****************************** */

    /* *******************INFO ZONE **@media min-width: 758px*********** */
    .info__questions__section {

        margin: 0 1%;
    }

    .aside__block,
    .aside__article__info,
    .aside__article__questions {
        margin: 10px;

    }

    .info__content,
    .info__title {
        margin-left: 18%;
        margin-right: 10%;
    }

    .info__text {
        font-size: 1.2em;

    }

    .info__title {
        padding: 2% 1%;
        font-size: 1.6em;
        font-family: 'Libre Baskerville', serif;
    }

    .info__img {
        height: 140px;
        width: 140px;
        float: right;
        margin-right: 6%;
        padding-left: 6px;
        padding-right: 4px;
    }

    #info__img__3 {
        height: 120px;
        width: 120px;
    }


    /* ******************QUESTIONS ZONE*@media min-width: 758px*********/
    .aside__article__questions {
        padding-top: 1%;

    }

    .questions__content {
        margin-left: 20%;
        margin-right: 20%;
    }

    .questions__title {
        color: rgb(20, 102, 102);
        padding-top: 3%;
        font-size: 1.5em;
        padding-bottom: 40px;
    }

    .questions__text {
        font-size: 1.4em;

    }

    .aside__article__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}




/* *******************@MEDIA 1024px************************************ */

/* *********************@MEDIA 1024px********************************** */

/* *********************@MEDIA 1024px********************************* */

@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(246, 248, 144);

    }


    .don__item {

        color: rgb(7, 7, 228);
        background-color: #f3ba8b;
    }

    .don__item:nth-child(3) {
        padding: 5px 40px 5px 40px;
    }

    .don__item:nth-child(2) {
        padding: 5px 14px;
    }


    h1 {
        border: none;
        text-shadow: rgb(0 68 255) -5px 2px 4px;
        background-color: rgb(145, 5, 70);
        padding: 9px;
    }


    p {
        font-family: 'Merriweather', serif;
        font-size: 2em;
    }

    .logo__title {
        font-weight: 700;
        padding-left: 20px;

    }


    /* ----------------Nav bar--@MEDIA 1024px----------------------------- */

    .nav__bar {
        border-radius: 5px;
        background-color: rgb(94, 139, 51);
        padding-right: 5px;
        display: flex;
        margin: 2% 0 0 0;
    }

    .nav__item__home {
        display: none;

    }

    #wrap_item5,
    #wrap_item2 {
        width: 20%;

    }

    #nav__main li a,
    #nav__info__questions li a {
        border-radius: 10px;
        background: none;
        padding: 5px 7px;
        font-size: 20px;
        margin: 3px;
        color: white;
    }

    #nav__info__questions li a {
        letter-spacing: 0.01px;

    }
    
    #nav__main li a:hover,
    #nav__info__questions li a:hover {
        background-color: rgb(193, 241, 115);
        color: rgb(97, 67, 7);
        transition: 0.3s;
        padding: 5px 7px;
    }

    /* **********header image**@MEDIA 1024px******* */
    .header__img {
        margin: 0 5%;

    }

    /******************* CARD SECTIONS **@MEDIA 1024px***********************/


    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #cards__video__aside {
        margin: 0 5%;
        display: flex;
        justify-content: space-between;

    }

    .cards__video,
    #aside__section {
        background-color: rgb(240, 166, 132);
        border: 1px solid rgb(40, 61, 182);
        border-radius: 10px 10px 0 0;

    }

    .cards__video {
        margin: 0;
        width: 60%;
    }

    #aside__section {
        width: 36%;
        margin: 0;
        background-color: rgb(243, 188, 156);
    }


    .section__title {
        display: block;
        margin: 0;
        background-color: rgb(145, 5, 70);
        font-size: 1.4em;
        color: aliceblue;
        text-transform: uppercase;
        padding: 5px;
        border-radius: 10px 10px 0 0;
    }

    .card__img {

        height: 400px;
        width: 570px;
    }

    #psy {
        height: 350px;
        width: 570px;
    }

    .card__title {
        font-size: 1.6em;
        margin-bottom: 0.8em;
    }

    .card__text,
    p {
        color: #4c5057;
        font-size: 1em;
        font-weight: bold;
    }

    .link {
        font-size: 1.5em;
    }

    /* ********************VIDEO ZONE**@MEDIA 1024px****************** */
    #video__zone-quote {
        font-size: 1.2em;
        background-color: rgb(241, 232, 145);
        display: inline-block;

    }

    /* *****************ASIDE****@MEDIA 1024px***************** */

    /* **************INFO ZONE @MEDIA 1024px********* */


    .aside__block,
    .aside__article__info,
    .question__block {
        padding: 0 10px;

    }

    .aside__block,
    .aside__article__info,
    .aside__article__questions {
        margin: 0;

    }

    .info__content,
    .info__title {
        margin: 15px 5px 0 5px;
        padding-bottom: 10px;

    }

    .info__text {
        font-size: 1em;
        padding-bottom: 15px;
    }

    .info__title {
        padding-top: 30px;
        color: rgb(102, 19, 179);
        font-size: 1.4em;
        letter-spacing: 1px;
    }

    .btn__info {
        margin-bottom: 2.5em;
    }

    .info__img {
        float: none;
        padding: 5px 0;
        margin-top: 2px;
    }

    aside hr {
        padding: 4% 0;
    }

    hr {
        margin-top: 2%;
    }

    /* ******************QUESTIONS ZONE*@MEDIA 1024px**********/
    #img__questions {
        padding: 10px;
        margin: 10px 0 0 0;
    }

    #questions,
    .questions__title,
    .questions__content {
        padding-bottom: 20px;
    }

    .rect__title {
        border-radius: 0 0 0 0;
    }

    .questions__title {
        margin-bottom: 1em;
        margin-top: 1em;
    }


    .questions__title {
        color: rgb(11, 8, 190);

    }

    .questions__text {
        color: darkslategray;
        font-size: 1em;
        margin-left: 0;
        margin-right: 0;

    }

    #recettes__section {
        display: block;
        visibility: visible;
        margin-top: 50px;
    }



    .recette {
        padding: 20px 0;
        margin: 0;
    }

    .recette a {
        cursor: pointer;
    }

    #page__footer {
        margin-top: 4%;
    }
}


/* ********************@media (min-width: 1574px)****************** */
/* ********************@media (min-width: 1574px)******************* */
/* ********************@media (min-width: 1574px)********************* */

@media screen and (min-width: 1574px) {
    body {
        background-color: rgb(206, 236, 171);
    }


    #logo {
        margin-left: 0;
        padding-left: 0;
    }

    .logo__title {
        font-size: 1.6em;
        padding-left: 10px;
        padding-right: 20px;
    }

    .don__item {
        font-size: 1.1em;
        padding: 6px 10px;

    }

    .don__item:nth-child(3) {
        padding: 5px 35px;
    }

    h1 {
        font-size: 2.7em;
    }

    h1:hover {
        letter-spacing: 4px;
        color: rgb(250, 240, 106);
        text-shadow: rgb(0 68 255) -5px 2px 6px;
    }

    /* ----------------Nav bar--@media (min-width: 1574px------------------------------ */
    .nav__bar {
        border-radius: 10px;
        background-color: rgb(192, 115, 96);
        margin: 1% 0;
    }

    #nav__main .nav__item a,
    #nav__info__questions .nav__item a {
        color: rgb(241, 230, 207);
        font-size: 1.2em;
        font-weight: 500;
    }

    #nav__main .nav__item a:hover,
    #nav__info__questions .nav__item a:hover {
        background-color: rgb(204, 219, 117);
    }



    /******************* CARD SECTIONS **@media (min-width: 1574px***********************/

    .card__img {
        padding-bottom: 2%;
        height: 20em;
        width: 30em;
        margin: 0 1%;
    }

    .card__title {
        color: #9e0e09;
    }

    .link {
        margin-top: 10px;
        font-size: 1.1em;
    }

    .link:hover {
        color: rgb(9, 52, 172);
        background-color: rgb(196, 196, 226);
        transition: 0.4s;
    }

    /* ***************ASIDE****@media1574px**************************** */

    /* *******************INFO ZONE **@media (min-width: 1574px*********** */

    .info__img {
        padding: 10px;
    }


}